@model Tipwin.Models.Player
@{
    ViewBag.Title = "EmailConfirmation";
}
<h4>VERIFIKACIJA ADRESE ELEKTRONIČKE POŠTE</h4>
<p>
    Thank you for registering. Please check your email for a confirmation
    request with a link that will confirm your account. Once you click the
    link, your registration will be complete.
</p>
<p>
    Please confirm your account by clicking this @Html.ActionLink("Submit", "Confirmed", "Player")
</p>
@TempData["info"]
