
@{
    ViewBag.Title = "Index";
}
<hr />
@using (Html.BeginForm("Process", "UploadFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @ViewBag.Error
    @ViewBag.Empty
    <table cellpadding="2" cellspacing="2">
        <tr>
            <td>Photo</td>
            <td>
                <input type="file" name="photo" />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" name="Upload" />
            </td>
        </tr>
    </table>
}
